{% extends 'base.html' %}
{% block content %}


    <section class="container nuestra-historia"">

        <h1 class="text-center" id="Acerca" >Nuestra Historia</h1>
        <p class="text-center" id="text-acerca">OnlyFlans es una empresa dedicada al fascinante mundo de la pastelería y los postres, destacándose
            especialmente en la venta de deliciosos flanes, de ahí nuestro nombre. Fundada en 2021 en Santiago de Chile
            como un emprendimiento familiar, nuestra misión es ofrecer productos de la más alta calidad a nuestros
            clientes. Estamos ubicados estratégicamente en Providencia, a pocos pasos de la estación de metro Parque
            Bustamante. En OnlyFlans, nos esforzamos por deleitar a nuestros clientes con exquisitas creaciones dulces
            que cautivan los paladares más exigentes.</p>
    </section>

{% endblock %}