{% load static %}
<div class="container-fluid pie-de-pagina" ;">
    <footer class="text-center"> 

        <div>
            <img src="{% static 'logo.png'%}" class="logo-footer" alt="logo">
        </div>

        <div>
            <a href="http://instagram.com/" style="color:rgb(159, 130, 255)">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="http://facebook.com/" style="color: rgb(159, 130, 255)">
                <i class="fa-brands fa-facebook" ></i>
            </a>
            <a href="http://tiktok.com/" style="color:rgb(159, 130, 255)">
                <i class="fa-brands fa-tiktok" ></i>
            </a>
            <a href="http://pinterest.com/" style="color:rgb(159, 130, 255)">
                <i class="fa-brands fa-pinterest" ></i>
            </a> 
        </div>

        <div class="creadopor">
            <p>Creado por Valentina Cifras para Desafio Latam 2024 </p> 
        </div>
        
    </footer> 
</div>