{% extends 'base.html' %}
{% block content %}
<div class="container ubicacion">
    <div class="row">
        <div class="col text-center texto-ubicacion" >
            <p class=" encuentranos">Visitanos en:</p> <br>
               <p class="texto"> Av. Gral. Bustamante 176, Providencia, Santiago. </p> 
               <br>
            <p class=" encuentranos">Horario de atención:</p><br>
            <p class="texto"> Lunes a Sabado de 9:30 a 19:00</p>
                
            

        </div>
        <div class="col">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d832.3090738402573!2d-70.63142713048074!3d-33.44314977927453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5787dacdc89%3A0xa8b414fddc682f4d!2sAv.%20Gral.%20Bustamante%20176%2C%20Providencia%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1715133970515!5m2!1ses-419!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div>
</div>

{% endblock %}